body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.red-color{
    color: red;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 30px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 750px;
}
.half-widht{
    width: 50%;
    padding-left: 40px;
}
.half-widht h1{
    font-size: 50px;
}
.half-widht img{
    width: 80%;
    margin-top: 10px;
}
.section01{
    margin-right: 30px;
}
.link-button{
    color: white;
    background-image: linear-gradient(#FF416C, #FF4B2B);
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 3px;
}
.section02{
    margin-left: 90px;
}